* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: space-between;
  background-color: #0d1b2a

}

.container {
  max-width: 120rem;

 
  margin: 0 auto;
}

.main-content {
 
  height: 20rem;
  display: flex;
  justify-content: center;
}

.header {
  min-height: 10rem;
  height: 10vh;
  background-color: lighten(#0d1b2a,1) #0d1b2a;
}

.header_logo {
  width: 80px;}

.main-content {
  flex-grow: 1;
  min-height: 80vh;
  
}


.stage-container {
  width:100%;
  display: flex;

}

.controllers {
  background-color: blue;;
  
  flex-basis:15%;
}

.stage{
  background-color: lighten(#0d1b2a,1);
  flex:1
 
}
.stage-grid {
  display: grid;
  width: 720px;
  height: 720px;
  background-color: green;
  height: 100%;
  border:1px solid black;
}


.grid-item {
  padding: 3px;

  // transition: all 1.5s ease;

  flex-grow: 1;
}
.grid-item.alive {
  background-color: #fff;
  
}


.grid-item.alive:first-child {
  border-radius: 50%;
  background-color: hotpink;
  
}
.alive:first-child {
  border-radius: 50%;
  background-color: hotpink;
  
}

.footer {
  background-color: #fff;
  height: 10vh;
  height: 10vh;
  
}